/* Botão */
.btn-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 10px 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-toggle:hover {
        background-color: #555;
    }
