@page "/insumos"
@inject NavigationManager Navigation

<PageTitle>Insumos</PageTitle>

<h3>Insumos</h3>


<button class="btn btn-primary mb-3" @onclick="VoltarParaHome">
    <i class="bi bi-arrow-left"></i> Voltar para Home
</button>

<p>Bem-vindo à página de Insumos!</p>

@code {
    private void VoltarParaHome()
    {
        Navigation.NavigateTo("/home");
        // rota raiz
    }
}
