@page "/insumos"
@inject InsumosViewModel VM
@inherits BasePage<InsumosViewModel>

<div class="centralizarObjetosVerticalmente">
    <button class="btn btn-primary mb-3" @onclick="VoltarParaHome">
        <i class="bi bi-arrow-left"></i> Voltar para Home
    </button>
</div>

<div>
    <PageTitle>Insumos</PageTitle>

    <div>
        @if (VM.HasTabs)
        {
            <TabsIterator ViewModel="VM" />
        }
    </div>

    <div class="mt-3">
        @if (VM.ActiveTab == "Cadastrar")
        {
            <InsumosCadastroTab ViewModel="VM" />
        }
        else
        {
            <InsumosListarTab ViewModel="VM" />
        }
    </div>

</div>

@code {
    protected override void OnInitialized()
    {

        VM.OnTabChanged = StateHasChanged;
        VM.OnInitialLoad = StateHasChanged;
    }
}
