@page "/insumos"
@inject NavigationManager Navigation
@inject ProdutosViewModel VM

@code {
    private void VoltarParaHome()
    {
        Navigation.NavigateTo("/home");
        // rota raiz
    }
}

<div class="centralizarObjetosVerticalmente">
    <button class="btn btn-primary mb-3" @onclick="VoltarParaHome">
        <i class="bi bi-arrow-left"></i> Voltar para Home
    </button>
</div>

<div>
    <PageTitle>Insumos</PageTitle>
    <h1>Insumos</h1>

    <div class="caixaBranca">
        @if (VM.Carregando)
        {
            <div class="spinner"></div>
        }
        else
        {
            <ul>
                @foreach (var p in VM.Produtos)
                {
                    <li>@p.Codigo - @p.DescricaoDetalhada</li>
                }
            </ul>
        }
    </div>



</div>

<div class="botoes">
    <button @onclick="VM.CarregarProdutosAsync">Carregar Banco de Dados</button>
    <button>Cadastrar</button>
    <button>Deletar Produto</button>
</div>