@page "/medicamentos"
@inject MedicamentosViewModel VM
@inherits BasePage<MedicamentosViewModel>

<div class="centralizarObjetosVerticalmente">
    <button class="btn btn-primary mb-3" @onclick="VoltarParaHome">
        <i class="bi bi-arrow-left"></i> Voltar para Home
    </button>
</div>

<div>
    <PageTitle>Medicamentos</PageTitle>

    <div>
        @if (VM.HasTabs)
        {
            <TabsController ViewModel="VM" />
        }
    </div>

    <div class="mt-3">
        @if (VM.ActiveTab == "Cadastrar")
        {
            <MedicamentosCadastroTab ViewModel="VM" />
        }
        else
        {
            <MedicamentosListarTab ViewModel="VM" />
        }
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        VM.OnTabChanged = StateHasChanged;
        VM.OnInitialLoad = StateHasChanged;
    }
}
