@page "/produtos"
@using Frontend.ViewModels

@inject NavigationManager Navigation
@inject ProdutosViewModel VM  

<PageTitle>Produtos</PageTitle>

<h3>Produtos</h3>


<button class="btn btn-primary mb-3" @onclick="VoltarParaHome">
    <i class="bi bi-arrow-left"></i> Voltar para Home
</button>

<p>Bem-vindo à página de Produtos!</p>

@code {
    private void VoltarParaHome()
    {
        Navigation.NavigateTo("/home");
        // rota raiz
    }
}

<div>
    <label class="textoSimples">Home / Bancos / Produtos</label>

    <h1>Produtos</h1>

    <div class="caixaBranca"></div>

    @if (VM.Carregando){
        <p>Carregando...</p>
    }
    else{
        <ul>
            @foreach (var p in VM.Produtos){
                <li>@p.DescricaoSimples - @p.Quantidade</li>
            }
        </ul>
    }

</div>
<button @onclick="VM.CarregarProdutosAsync">Atualizar</button>

