
@page "/produtos"
@inject NavigationManager Navigation
@inject ProdutosViewModel VM
@inherits BasePage<ProdutosViewModel>

<div class="centralizarObjetosVerticalmente">
    <button class="btn btn-primary mb-3" @onclick="VoltarParaHome">
        <i class="bi bi-arrow-left"></i> Voltar para Home
    </button>
</div>

<div>
    <PageTitle>Produtos</PageTitle>
    
    <div>
        @if(VM.HasTabs)
        {
            <TabsController ViewModel="VM"/>
        }
    </div>

    <div class="mt-3">
        @if (VM.ActiveTab == "Cadastrar")
        {
            <h3>Cadastro de Produtos</h3>
        }
        else 
        {
            <h3>Produtos</h3>
        }
    </div>

</div>

<div class="botoes">
    <button @onclick="VM.CarregarProdutosCommand.ExecuteAsync">Atualizar Itens</button>
    <button @onclick="VM.CadastrarProdutosCommand.Execute">Cadastrar</button>
    <button >Deletar Produto</button>
</div>

@code {
    protected override void OnInitialized()
    {
        VM.OnTabChanged = StateHasChanged;
    }
}